@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Regular;
    src: url(../assets/font/Gelion-Regular.ttf);
}

@font-face {
    font-family: Bold;
    src: url(../assets/font/Gelion-Bold.ttf);
}

$blue1 : rgb(60, 187, 178);
$blue2 : rgb(122, 194, 183);
$blue3 : rgb(65, 222, 155);
$purple1 : rgb(47, 33, 86);
$purple2 : rgb(97, 45, 143);
$purple3 : rgb(115, 98, 168);
$dark1 : rgb(50, 56, 78);
$dark2 : rgb(20, 27, 53);
$white1 : rgb(255, 254, 248);
$white2 : rgb(250, 248, 243);
$black1 : black;
$black2 : rgb(38, 38, 38);

@mixin childCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  font-family: 'Regular';
  line-height: 1.5;
  font-weight: 400;
  
  color: $dark1;
  background-color:$white2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  list-style: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
