@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GelionRegular";
    src: url(../assets/font/Gelion-Regular.ttf);
}

@font-face {
    font-family: "GelionBold";
    src: url(../assets/font/Gelion-Bold.ttf);
}

@mixin childCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

$blue1 : rgb(60, 187, 178);
$blue2 : rgb(122, 194, 183);
$blue3 : rgb(65, 222, 155);
$purple1 : rgb(47, 33, 86);
$purple2 : rgb(97, 45, 143);
$purple3 : rgb(115, 98, 168);
$dark1 : rgb(50, 56, 78);
$dark2 : rgb(20, 27, 53);
$white1 : rgb(255, 254, 248);
$white2 : rgb(250, 248, 243);
$black1 : black;
$black2 : rgb(38, 38, 38);
$font1 : GelionRegular, Roboto;
$font2 : GelionBold, Roboto;

button {
    background-color: #f9f9f9;
}

* {
  list-style: none;
}

.header-container{
  @include childCenter;
  flex-direction: column;
  font-family: $font2;
  .logo{
      height: 100%;
      border: 0;
      padding: 0;
  }
  .main-title{
    font-size: 12rem;
    letter-spacing: 20px;
  }
}

.head-up{
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 60px;

  .text{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  
  .text ::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    border-top: 1px solid $black1;
  }

}

.quote{
  margin-top: 20px;
  font-family: $font1;
  text-align: center;
  font-size: 2.5rem;
}

.business{
  h2{
    margin: 150px;
    font-size: 2rem;
    text-decoration: underline
  }
}

.business{
  .cards{
    img{
      padding: 10%;
    }
  }
}

.Map{
  margin: 150px 0;
}

.TitleProject{
  h2{
    text-align: left;
    font-family: $font2;
    font-size: 6rem;
    width: 50px;
    line-height: 80%;
    margin-bottom: 1%;
    }
}

.projets-recents{
  .cards{
    img{
      border-radius: 2% 2% 2% 2% / 5% 5% 5% 5%;
      min-width: 200px;
      min-height: 200px;
      width: 50%;
      height: auto;
      margin-bottom: 2%;
    }

    
  }
}

.cardscontainer{
  padding: 0 10% 0 5%;
  margin-bottom: -30%;

  .dong-hanh{
    position: relative;
  }
  
  .folere{
    position: relative;
    left: 60%;
    bottom: 100px;
  }
  .numery{
    position: relative;
    bottom: 200px;
  }
  .vwd{
    position: relative;
    left: 60%;
    bottom: 300px;
  }
  .sakana{
    position: relative;
    bottom: 400px;
  }
}

.stories{
  margin-top: 30%;

}

.stories-container{
  .stories-title{
    text-align: left;
    font-size: 2.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .stories-title ::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    border-top: 1px solid $black1;
  }

}

:root {
  font-family: $font1;
  line-height: 1.5;
  font-weight: 400;
  
  color: $dark1;
  background-color:$white2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer{
  padding: 10% 0;

  .places{
    text-align-last: left;
  }

  .contact{
    display: flex;
    flex-direction: column;
    align-items:end;
    text-align:right;
  }

  .ending{
    padding-top: 25%;
    margin-bottom: -100%;
    .ending-container{
      top: 100%;
      h2{
        text-align: left;
        font-size: 12rem;
  
      }
    }
  }
}
