@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "GelionRegular";
  src: url(../assets/font/Gelion-Regular.ttf);
}
@font-face {
  font-family: "GelionBold";
  src: url(../assets/font/Gelion-Bold.ttf);
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
:root {
  font-family: GelionRegular, Roboto;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(50, 56, 78);
  background-color: rgb(250, 248, 243);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  list-style: none;
}

button {
  background-color: #f9f9f9;
}

.stack48 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: GelionBold, Roboto;
}
.header-container .logo {
  height: 100%;
  border: 0;
  padding: 0;
}
.header-container .main-title {
  font-size: 4rem;
  letter-spacing: 20px;
}
@media screen and (min-width: 475px) {
  .header-container .main-title {
    font-size: 4rem;
  }
  .header-container .main-title .stack48 {
    max-width: 475px;
  }
}
@media screen and (min-width: 640px) {
  .header-container .main-title {
    font-size: 4rem;
  }
  .header-container .main-title .stack48 {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .header-container .main-title {
    font-size: 6.9rem;
  }
  .header-container .main-title .stack48 {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .header-container .main-title {
    font-size: 11rem;
  }
  .header-container .main-title .stack48 {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .header-container .main-title {
    font-size: 7rem;
  }
  .header-container .main-title .stack48 {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1536px) {
  .header-container .main-title {
    font-size: 7rem;
  }
  .header-container .main-title .stack48 {
    max-width: 1536px;
  }
}

.head-up {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 60px;
}
.head-up .text {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.head-up .text ::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  right: 0;
  border-top: 1px solid black;
}

.quote {
  margin-top: 20px;
  font-family: GelionRegular, Roboto;
  text-align: center;
  font-size: 2.5rem;
}

.business h2 {
  margin: 150px;
  font-size: 2rem;
  text-decoration: underline;
}

.business .cards img {
  padding: 10%;
}

.Map {
  margin: 150px 0;
}

.TitleProject h2 {
  text-align: left;
  font-family: GelionBold, Roboto;
  font-size: 6rem;
  width: 50px;
  line-height: 80%;
  margin-bottom: 1%;
}

.projets-recents .cards img {
  border-radius: 2% 2% 2% 2%/5% 5% 5% 5%;
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  height: auto;
}

.cardscontainer {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(6, minmax(200px, 1fr));
  gap: 1em;
  grid-template-areas: "a a a . . ." "a a a . . ." "a a a b b b" "c c c b b b" "c c c b b b" "c c c d d d" "e e e d d d" "e e e d d d" "e e e . . .";
  padding-left: 5%;
}

.dong-hanh {
  grid-area: a;
}

.folere {
  grid-area: b;
}

.numery {
  grid-area: c;
}

.vwd {
  grid-area: d;
}

.sakana {
  grid-area: e;
}

.stories {
  margin-top: 30%;
}

.stories-container .stories-title {
  text-align: left;
  font-size: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.stories-container .stories-title ::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border-top: 1px solid black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  padding: 10% 0;
}
footer .places {
  -moz-text-align-last: left;
       text-align-last: left;
}
footer .contact {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}
footer .ending {
  padding-top: 25%;
  margin-bottom: -100%;
}
footer .ending .ending-container {
  top: 100%;
}
footer .ending .ending-container h2 {
  text-align: left;
  font-size: 4.5rem;
}
@media screen and (min-width: 475px) {
  footer .ending .ending-container h2 {
    font-size: 4.5rem;
  }
  footer .ending .ending-container h2 .stack48 {
    max-width: 475px;
  }
}
@media screen and (min-width: 640px) {
  footer .ending .ending-container h2 {
    font-size: 6rem;
  }
  footer .ending .ending-container h2 .stack48 {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  footer .ending .ending-container h2 {
    font-size: 9rem;
  }
  footer .ending .ending-container h2 .stack48 {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  footer .ending .ending-container h2 {
    font-size: 11rem;
  }
  footer .ending .ending-container h2 .stack48 {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  footer .ending .ending-container h2 {
    font-size: 12rem;
  }
  footer .ending .ending-container h2 .stack48 {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1536px) {
  footer .ending .ending-container h2 {
    font-size: 13rem;
  }
  footer .ending .ending-container h2 .stack48 {
    max-width: 1536px;
  }
}

.nav {
  height: 12vh;
}
.nav ul {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=index.css.map */